body{
    margin:0;
    background:black;
    color:white;
    font-family:Arial;
}

.navbar{
    padding:20px;
    position:fixed;
}

.logo{
    width:120px;
}

.banner{
    height:100vh;
    background:url("https://wallpaperaccess.com/full/2703652.png");
    background-size:cover;
    display:flex;
    align-items:center;
    padding-left:50px;
}

button{
    padding:10px 20px;
    margin-right:10px;
    border:none;
    font-weight:bold;
    cursor:pointer;
}
